
:root {
    --theme-clr: #4230d3;
    --theme-clr-2: #ff7a41;
    --theme-clr-3: #f8ca38;
    --gray-clr:#878898;
    --gray-clr-2:#BCBCBC;
    --smoke-clr:#E8EEEC;
    --black-clr: #000;
    --green-clr: #064635;
    --white-clr: #fff;
    --border-clr:#EDEDED;
    --border-radius: 8px;
}