@use '../../utils' as *;

/*----------------------------------------*/
/*  6.4 Contact
/*----------------------------------------*/

.tf-contact{
    &-form{
        &-wrapper{
            background-color: var(--smoke-clr);
            padding: 60px;
            border-radius: 32px;
             @media #{$sm}{
             padding: 30px;
            }
             @media #{$xs}{
             padding: 30px 15px;
            }
            &-2{
                @media #{$lg}{
                padding: 30px 20px;
             }
            }
              @media #{$lg,$xl}{
                padding: 30px 20px;
             }
        }
        &-input{
            & input, textarea{
                border: 1px solid var(--green-clr);
                border-radius: 50px;
                padding: 20px;
            }
            & i{
                position: absolute;
                right: 15px;
                top: 18px;
                color: var(--green-clr);
            }
            & textarea{
                border-radius: var(--border-radius);
                height: 135px;
            }
        }
        @media #{$md,$sm,$xs}{
                margin-bottom: 50px;
             }
    }
    &-title{
        font-size: 32px;
    }
    &-content{
        position: absolute;
        top: 36%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        &-btn{
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            margin: auto;
            transform: translateY(-50%);
            height: 60px;
            width: 60px;
            line-height: 57px;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            background-color: var(--white-clr);
            animation: animate-pulse 3s linear infinite;
        }
    }
    &-wrap{
        &::before{
            position: absolute;
            content: "";
            background-color: #010F1C;
            opacity: .4;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
        }
        &-2{
            @media #{$lg}{
                margin-top: 70px;
                }
        }
    }
    &-item{
        border: 1px solid rgba(22, 22, 25, 0.2);
        padding: 30px 30px;
        border-radius: 15px;
        transition: all 0.3s;
        &:hover{
            background: rgba(105, 105, 110, 0.1);
        }
        @media #{$xs}{
          padding: 10px;
        }
    }
    &-icon{
        & i{
            color: rgba(22, 22, 25, 0.2);
            font-size: 60px;
        }
        @media #{$xs}{
            margin-right: 15px;
        }
    }
    &-info{
        & span{
            color: var(--black-clr);
            font-weight: 600;
            font-size: 22px;
            display: block;
            margin-bottom: 8px;
             @media #{$xs}{
                font-size: 20px;
                }
        }
        & a{
            color: var(--green-clr);
            font-weight: 600;
            font-size: 16px;
            @media #{$xs}{
                font-size: 13px;
                }
        }
    }
    &-wrapper{
        padding: 50px 100px;
         @media #{$sm}{
             padding: 30px 0;
        }
         @media #{$xs,$lg,$xl}{
             padding: 15px 0;
        }
    }
}